input{
    width:50%;
    background: white 0% 0% no-repeat padding-box;
    // box-shadow: 5px 5px 5px rgb(236, 230, 230);
    //  border-radius: 8px;
    border:1px solid gray;;
}
label{
    width:90%; 
}